:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827; 
	--grey: #6B7280;
	--grey2 : #5670a8;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	 --blue: #1e90ff;
     --white: #ffffff; 
     --green: #1e8449;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
	background: url(img2.jpg) ;

}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 400;
	font-family: bold;
	color:  #1e90ff;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;

}
#new-task-form1{
	display: flex;
}

input, button {
	
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {

	font-size: 1.35rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--blue),var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h1 {
	font-size: 1.5rem;
	font-weight: 400;
	font-family: bold;
	color:  #516bdc;
	margin-bottom: 1rem;

}

#tasks .task {
 
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	cursor: move;
  z-index: 10;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	transition: 0.4s;
}

.content
{
	display: table;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--blue),var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

.task .actions .delete {
	color: crimson;
	cursor: pointer;
}

.task .actions .done {
	
	 background-image: linear-gradient(to right, var(--green),var(--green));
	 cursor: pointer;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.completed
{
	text-decoration: line-through;
	opacity: 0.4;
}

#tasks
{

	 position: absolute;
     z-index: 16;
     width: 60%;

}

.openbtn {
  font-size: 10 px;
  cursor: pointer;
   background-color: var(--darkest);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {

	-webkit-text-fill-color: transparent;
 
}

.sidebar {

  height: 100%;
  width: 0;
  display: none;
  x-index: 1;
  background-color: var(--darkest);
  transition: 0.5s;
  padding-top: 80px;
	padding-bottom:20px;
	border-radius: 1rem;
}


.Priority
{

	margin-top: 25px;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	color: var(--light);
	width: 400px;
	
}

.Priority p
{
	font-size:20px;
	font-family: bold;
	font-weight: 300;
	color: var(--blue);
	
}

.hiP {
  color: red;
}

.medP {
  color: #d53916;
}

.lowP {
  color: green;
}

.noneP
{
	color: white;
}

.timerDisplay {

  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #1e90ff;
  font-weight: 800;
  margin-top: 10px;


}

#pauseBtn{

	font-weight: normal;
  background: none;
  border: none;
  color: #1e90ff;
  
 
}

#startBtn{

	font-weight: normal;
  background: none;
  border: none;
  color: #1e90ff;
  margin-right: -5px;
  margin-left: 40px;

}
input{

	font-size: 15px;
}